<h2 mat-dialog-title>Please insert all information</h2>

<mat-dialog-content [formGroup]="form" (ngSubmit)="save()">
    <p>
    <mat-form-field>
        <input matInput
                placeholder="Name"
                formControlName="name">
    </mat-form-field>
</p>
<p>
    <mat-form-field>
        <input matInput
                placeholder="Phone number"
               formControlName="telephone">
    </mat-form-field>
</p>
<p>
    <mat-form-field>
        <textarea matInput placeholder="Reason"
            formControlName="reason">
        </textarea>
    </mat-form-field>
</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>
    <button class="mat-raised-button mat-primary"
            (click)="save()">
        Save
    </button>
</mat-dialog-actions>